includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    parallel:
        maximumNumberOfProcesses: 1
    reportMagicProperties: false
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - app
    # The level 8 is the highest level
    level: 3

    excludePaths:
        # - ./*/*/FileToBeExcluded.php
        # - ./app/Services/OpenERP.php

    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
